#NavigationBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    border-color: black;
    border-width: .3rem;
    border-style: solid;
    padding: 1rem;
}

#Projects {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#ProjectBox {
    width: 70%;
    margin-top: 2rem;
    border-style: solid;
    border-width: .4rem;
    border-radius: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#ProjectTitle {
    font-size: 5rem;
    text-align: center;
}

#ProjectDescription {
    font-size: 3rem;
}

#ProjectImage {
    width: 50%;
    height: auto;
    border-radius: 1rem;
}

#ProjectContentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SlideButton {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    border-radius: 5rem;
    border-style: solid;
    background-color: lightgray;
    border-width: .3rem;
    font-weight: bold;
}

.SlideButton:hover {
    background-color: gray;
}

a {
    font-size: 2rem;
    color: black;
}

#LogoImage {
    height: 8rem;
}

.CollapseNavigation {
    display: block;
}

#NavigationMenu {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border-width: .2rem;
    border-style: solid;
    display: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
}

#NavigationMenu:hover {
    background-color: lightgray;
}

#DropdownMenu {
    margin-top: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: black;
    border-width: .3rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
    background-color: lightgray;
}

@media (max-width: 600px) {
    .CollapseNavigation {
        display: none;
    }

    #NavigationMenu {
        display: block;
    }

    #ProjectContentBox {
        flex-direction: column;
    }

    #ProjectImage {
        width: 100%;
    }

    #ProjectTitle {
        font-size: 3rem;
    }

    #ProjectDescription {
        font-size: 2rem;
    }

    #Projects {
        flex-direction: column;
    }

    #SlideLeft {
        position: relative;
        right: 5rem;
        margin-top: -5rem;
        order: 1;
    }

    #SlideRight {
        position: relative;
        left: 5rem;
        margin-top: 2rem;
    }
}

@media (min-width: 600.01px) {
    #DropdownMenu {
        display: none !important;
        background-color: aqua;
    }
}