#NavigationBar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2rem;
    border-color: black;
    border-width: .3rem;
    border-style: solid;
}

#Projects {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#ProjectBox {
    width: 70%;
    margin-top: 2rem;
    border-style: solid;
    border-width: .4rem;
    border-radius: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#ProjectTitle {
    font-size: 5rem;
}

#ProjectDescription {
    font-size: 3rem;
}

#ProjectImage {
    width: 50%;
    height: auto;
    border-radius: 1rem;
}

#ProjectContentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SlideButton {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    border-radius: 5rem;
}